// Import page-specific CSS files here.
@import "home";
@import "show";


.card {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 20px;
}

.card-description h3 {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.links {
  font-size: 35px;
  padding-left: 10px;
  color: #00F6CC;
font-family: 'Playfair Display', serif;
}

.links:hover{
  opacity: .7;
  color: white;
}

.text-muted h3 {
  font-family: 'Playfair Display', serif;
}
.text-muted a{
  color: #A64BAE;
}
.text-muted a:hover {
  opacity: .7;
  color: red;

}



.unique {
  background-image: image-url("bar.jpg");
  background-size: cover !important;
}

.card-footer{
  background-color:rgba(29, 11, 11, 0.95) !important;
}













