.picture img {
  width: 500px;
}

.name {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #151b1a;
  font-size: 15px;
}
.delete {
  font-size: 12px;
}
.delete a:hover{
  opacity: .5;
}
.delete a{
  color: #151b1a;
}
.btn-add {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6096a6;
  transition: background 0.3s ease;
  max-width: 150px;
  text-align: center;
  border-radius: 28px;
  margin-left: 845px;
  margin-top: 10px;

}
.btn-add:hover {
  opacity: 1;
  background: #FF3E9B;
  text-decoration: none;
  color: white;
}

.btn-add a{
  color: #E3E0E5;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

.btn-add a:hover{
  text-decoration: none;
  color: #E3E0E5;
}

h2 a:hover{
 text-decoration: none;
}

.contain {
  padding-left: 850px;
}

.ingredients{
  padding-left: 850px;
  margin-top: 25px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #2F4AFA;
  font-size: 35px;
}

.cocktail-name{
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 50px;
  color: #AEC6F3;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}


.banner {
  color: white;
  text-align: center;
  height: 50vh;
  background-size: cover !important;
  background-position: center top;
  display: flex;
  align-items: center;
  justify-content: center;
  zoom: 1.2;
}

.show {
  background-color: #a26a6a !important;
}



